<%- include('includes/head') %>

</head>

  <section class="container">
    <h1>Lorem ipsum</h1>

    <form action="/" method="post">
        <label>Cliente: <input type="text" name="nome"></label>
        <button type="submit">Enviar</button>
    </form>

  </section>

<%- include('includes/footer') %>